<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Dodaj roślinę do kolekcji</title>
    <link rel="stylesheet" href="{% static 'my_garden/style.css' %}">
</head>
<body>
  <form method="post">
      {% csrf_token %}
      <table class="form-table">
          <thead><th colspan="2"><h1>Dodaj roślinę</h1></th></thead>
          <tr><th></th><th><a href="{% url 'plant_list' %}">Przeglądaj katalog roślin</a></th></tr>
          {{ form.as_table }}
          <tr>
              <td><a href="{% url 'index' %}">< Moja kolekcja</a></td>
              <td><button type="submit">Dodaj do kolekcji</button></td>
          </tr>
      </table>
  </form>
</body>
</html>