{% extends "my_garden/base.html" %}
{% block title %}Katalog roślin{% endblock %}
{% block main-content %}
<div>
  <div class="div-title"><h1>Katalog roślin</h1></div>
  <table class="plant-list-table">
    <thead><th>Nazwa</th><th>Podlewanie</th><th>Okres podlewania</th><th></th></thead>
    {% for plant in plants %}
    <tr>
      <td>{{ plant.name }}</td>
      <td>{{ plant.watering_level }}</td>
      <td>{{ plant.watering_period }}</td>
      <td><a href="{% url 'add_plant'%}?plant_id={{ plant.pk }}">Dodaj do kolekcji</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="div-title">
    <h1>Rośliny zdefiniowane przez użytkownika</h1>
    <p><a href="{% url 'add_plant_list' %}">Zdefiniuj nową roślinę</a></p>
  </div>

  <table class="plant-list-table">
    <thead><th>Nazwa</th><th>Podlewanie</th><th>Okres podlewania</th><th>Akcja</th><th></th></thead>
    {% for plant in user_plants %}
    <tr>
      <td>{{ plant.name }}</td>
      <td>{{ plant.watering_level }}</td>
      <td>{{ plant.watering_period }}</td>
      <td><a href="{% url 'edit_plant' plant.pk %}">Edytuj</a></td>
      <td><a href="{% url 'add_plant' %}?plant_id={{ plant.pk }}">Dodaj do kolekcji</a></td>
    </tr>
    {% endfor %}
  </table>
  </div>
{% endblock %}